* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #FFFFF2;
    height: 100%;
}

html, body {
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    background-color: #FFFFF2;
}

h2 {
    text-align: center;
}

.header_in {
    margin: 50px;
}

.sentence {
    text-indent: 25px;
}

.image {
    margin: 20px;
    margin-left: 200px;
    margin-right: 200px;
}

.image img{
    margin: auto;
    display: block;
}

.problem {
    text-indent: 25px;
    padding: 10px;
    margin: 20px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
    text-align: justify;
    align-self: center;
    background-color: rgb(205, 205, 205);
}

/* Structure of page */

.header {
    padding: 1rem;
    margin-bottom: 1rem;
    justify-content: space-between;
    align-items: center;
    background: #91C8E4;
    border: black solid 1px;

    height: 6.5rem;
}

.header h1 {
    font-family: Times New Roman, serif;
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.table_of_content {
    padding: 1rem;
    border: 1px solid #000000;
    width: 200px;
    float: left;
    background: #91C8E4;
    margin-right: 1rem;
    border: black 1px solid;

    min-height: calc(100vh - 4rem - 200px);
    
    position: -webkit-sticky;
    position: sticky;
    top: 5%;
}

.main_content {
    padding: 1rem;
    float: left;
    width: calc(100% - 200px - 1rem);
    background: white;
    border: black 1px solid;
    position: relative;

    min-height: calc(100vh - 4rem - 200px);
}

#main_body {
    gap: 1rem;
    height: 100%;   
    min-height: calc(100vh - 4rem - 200px);
}

.row:after {
    bottom: 0;
    content: "";
    display: table;
    clear: both;
}

.footer {
    padding: 1rem;
    margin-top: 1rem;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #000000;
    text-align: right;
    background: #91C8E4;
    border: black solid 1px;

    height: 100px;
}

/* Link for table of content */

/* .a1:link {
    color: #EEEEEE;
    background-color: transparent;
    text-decoration: none;
}
.a1:visited {
    color: #EEEEEE;
    background-color: transparent;
    text-decoration: none;
}
.a1:hover {
    color: #91C8E4;
    background-color: transparent;
    text-decoration: underline;
}
.a1:active {
    color: #91C8E4;
    background-color: transparent;
    text-decoration: underline;
} */



/* Link for main content */

.a2:link {
    color: #041f33;
    background-color: transparent;
    text-decoration: none;
}
.a2:visited {
    color: #041f33;
    background-color: transparent;
    text-decoration: none;
}
.a2:hover {
    color: #91C8E4;
    background-color: transparent;
    text-decoration: underline;
}
.a2:active {
    color: #91C8E4;
    background-color: transparent;
    text-decoration: underline;
}

.column_33 {
    float: left;
    width: 33%;
    text-align: center;
}
