* {
    box-sizing: border-box; 
}

html, body {
    font-size: 18px;
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    background-color: #FFFFF2;
}

h2 {
    text-align: center;
}

.header_in {
    margin: 50px;
}

.sentence {
    text-indent: 25px;
}

.image {
    margin: 20px;
    margin-left: 200px;
    margin-right: 200px;
}

.image img{
    margin: auto;
    display: block;
}

.problem {
    text-indent: 25px;
    padding: 10px;
    margin: 20px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
    text-align: justify;
    align-self: center;
    background-color: rgb(205, 205, 205);
}

/* Structure of page */

.header {
    max-width: 1000px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    background: #91C8E4;
    text-align: left;
    /* padding-left: 50px; */
    /* font-size: 30px; */
    /* color: #EEEEEE; */
    border: black solid 1px;
    min-height: 100px;
}

.table_of_content {
    min-height: 200px;
    float: left;
    width: 150px;
    padding: 25px;
    background: #91C8E4;
    margin-right: 2%;
    border: black 1px solid;
    font-size: 14px;

    position: -webkit-sticky;
    position: sticky;
    top: 5%;
}

.main_content {
    min-height: 600px;
    float: left;
    float: bottom;
    /* width: 83%; */
    width: calc(98% - 150px);
    font-size: 14px;
    padding: 25px;
    background: white;
    border: black 1px solid;
    position: relative;
}

#main_body {
    max-width: 1000px;
    margin: auto;

    /* display: flex;
    flex: 1; */
}


.row:after {
    bottom: 0;
    content: "";
    display: table;
    clear: both;
}

.footer {
    max-width: 1000px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 30px;
    text-align: right;
    background: #91C8E4;
    font-size: 16px;
    border: black solid 1px;
}

/* Link for table of content */

/* .a1:link {
    color: #EEEEEE;
    background-color: transparent;
    text-decoration: none;
}
.a1:visited {
    color: #EEEEEE;
    background-color: transparent;
    text-decoration: none;
}
.a1:hover {
    color: #91C8E4;
    background-color: transparent;
    text-decoration: underline;
}
.a1:active {
    color: #91C8E4;
    background-color: transparent;
    text-decoration: underline;
} */



/* Link for main content */

.a2:link {
    color: #041f33;
    background-color: transparent;
    text-decoration: none;
}
.a2:visited {
    color: #041f33;
    background-color: transparent;
    text-decoration: none;
}
.a2:hover {
    color: #91C8E4;
    background-color: transparent;
    text-decoration: underline;
}
.a2:active {
    color: #91C8E4;
    background-color: transparent;
    text-decoration: underline;
}

.column_33 {
    float: left;
    width: 33%;
    text-align: center;
}
