:root {
    --custom-black: #222222;
    --custom-blue: #91C8E4;
    --custom-white: #FFFFFF;
    --custom-background: #FFFFF2; 

    --width-main: 1200px;
}

* {
    box-sizing: border-box; 
}

html, body {
    font-family: 'Inter', Helvetica, Arial, sans-serif;
    background-color: var(--custom-background);
    height: 100%; /* Добавить */
    margin: 0; /* Добавить */
    padding: 0; /* Добавить */
}

    
.nav-links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.nav-links a {
    color: var(--custom-black);
    text-decoration: none;
}

.nav-links a:hover {
    text-decoration: underline;
}

    
.a_black {
    color: var(--custom-black);
    text-decoration: none;
}

.a_black:hover {
    text-decoration: underline;
}


/* Link for main content */

.a2:link {
    color: var(--custom-black);
    background-color: transparent;
    text-decoration: none;
}
.a2:visited {
    color: var(--custom-black);
    background-color: transparent;
    text-decoration: none;
}
.a2:hover {
    color: var(--custom-black);
    background-color: transparent;
    text-decoration: none;
}
.a2:active {
    color: var(--custom-black);
    background-color: transparent;
    text-decoration: none;
}


.sentence {
    text-align: justify;
}

.image {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.problem {
    text-indent: 25px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: justify;
    align-self: center;
    background-color: rgb(205, 205, 205);
}



@media only screen and (min-width: 650px) {
     
    body {
        display: flex; /* Добавить */
        flex-direction: column; /* Добавить */
        min-height: 100vh; /* Добавить */
    
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    .header_in {
        margin: 50px;
    }
    
    /* image img {
        max-width: 200px;
        min-width: 300px;
    } */
    
    /* Structure of page */
    
    .header {
        max-width: var(--width-main);
        margin: auto;
        margin-bottom: 1rem;
        margin-top: 1rem;
        padding: 1rem;
        text-align: left;
        background: var(--custom-blue);
        border: var(--custom-black) solid 1px;
        min-height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .contact-info {
        text-align: right;
    }

    .content-button {
        display: none;
    }
    
    .header h1 {
        font-family: Times New Roman, serif;
        font-size: 2.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    .table_of_content {
        min-height: 200px;
        width: 150px;
        height: 100%; /* Высота будет определяться контентом */
        max-height: 80vh; /* Максимальная высота 80% от высоты экрана */
        background: var(--custom-blue);
        margin-right: 1rem;
        padding: 1rem;
        border: var(--custom-black) 1px solid;
        position: sticky; /* Позиционирование */
        top: 1rem; /* Отступ от верха при прилипании */
        float: left;
        overflow-y: auto; /* Добавляем прокрутку если контент не помещается */
    }
    
    .table_of_content h2 {
        margin-top: 0;
        margin-bottom: 1rem;
    }
    
    .main_content {
        height: auto; /* Заменить min-height */
        float: left;
        width: calc(100% - 150px - 1rem);
        padding: 1rem;
        background: var(--custom-white);
        border: var(--custom-black) 1px solid;
        position: relative;
        overflow-y: auto; /* Добавить при необходимости прокрутки контента */
    }
    
    .main_content h2 {
        margin-top: 0;
        margin-bottom: 1rem;
    }
    
    #main_body {
        max-width: var(--width-main);
        margin: auto;
        
        flex: 1; /* Добавить */
        width: 100%; /* Добавить */
        display: flex; /* Раскомментировать */
        position: relative; /* Добавить */
    }
    
    
    .row:after {
        bottom: 0;
        content: "";
        display: table;
        clear: both;
    }
    
    .footer {
        max-width: var(--width-main);
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: right;
        background: var(--custom-blue);
        border: var(--custom-black) solid 1px;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .privacy_mobile {
        display: none;
    }
    
    .column_33 {
        margin: auto;
        float: left;
        width: 33%;
        /* text-align: center; */
    }

    .tc_mobile {
        display: none;
    }

    .tc_desktop {
        display: block;
    }
}

@media only screen and (max-width: 650px) {

    body {
        display: flex; /* Добавить */
        flex-direction: column; /* Добавить */
        min-height: 100vh; /* Добавить */
        /* padding: 1px; */
    }

    .header {
        /* max-width: 450px; */
        padding: 1rem;
        text-align: right;
        background: var(--custom-blue);
        border: var(--custom-black) solid 1px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 44px;
    }

    .contact-info {
        display: none;
    }

    .content-button  {
        /* border: var(--custom-black) solid 1px; */
        cursor: pointer;
    }

    .footer {
        /* max-width: 450px; */
        text-align: right;
        background: var(--custom-blue);
        border: var(--custom-black) solid 1px;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .privacy_mobile {
        position: absolute;
        bottom: 20px;
        display: block;
    }

    /* .image img{
        width: 80%;
        max-width: 100%;
    } */

    .author {
        margin: auto;
    }

    .privacy {
        display: none;
    }

    #main_body {
        /* max-width: 450px; */
        flex: 1; /* Добавить */
        width: 100%; /* Добавить */
        display: flex; /* Раскомментировать */
        position: relative; /* Добавить */
    }

    /* .table_of_content {
        display: none;
    } */

    .tc_mobile {
        display: block;

        position: fixed; /* Изменить с absolute на fixed */
        top: 0; /* Добавить */
        left: -100%; /* Добавить */
        height: 100vh; /* Изменить со 100% на 100vh */

        /* position: absolute; */
        /* height: 100%; */
        /* min-width: 100px; */
        background-color: var(--custom-blue);
        border: var(--custom-black) solid 1px;
        z-index: 100;
        min-width: 50%;
        padding-left: 1rem;
        padding-right: 1rem;

        transition: left 0.4s;
    }

    .tc_mobile.active {
        left: 0;
    }

    .tc_desktop {
        display: none;
    }

    .main_content {
        height: auto; /* Заменить min-height */
        float: left;
        width: 100%;
        padding: 1rem;
        background: var(--custom-white);
        border-left: var(--custom-black) 1px solid;
        border-right: var(--custom-black) 1px solid;
        /* border: var(--custom-black) 1px solid; */
        position: relative;
        overflow-y: auto; /* Добавить при необходимости прокрутки контента */
    }

    .header h1 {
        font-family: Times New Roman, serif;
        font-size: 2rem;
        /* margin-top: 1rem;
        margin-bottom: 1rem; */
        text-align: right;
    }
}