* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 20px;
    background: #749BC2;
    font-family: Verdana, sans-serif;
}

.header_in {
    margin: 50px;
}

.sentence {
    text-indent: 25px;
}

.image {
    margin: 20px;
    margin-left: 200px;
    margin-right: 200px;
}

.image img{
    margin: auto;
    display: block;
}

.problem {
    text-indent: 25px;
    padding: 10px;
    margin: 20px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
    text-align: justify;
    align-self: center;
    background-color: rgb(205, 205, 205);
}

.header {
    padding: 25px;
    min-height: 100px;
    text-align: center;
    background: #91C8E4;
    font-size: 30px;
    color: #EEEEEE;
}

.table_of_content {
    min-height: 800px;
    float: left;
    width: 15%;
    padding: 25px;
    background: #749BC2;
    color: #EEEEEE;
}

.main_content {
    min-height: 800px;
    float: left;
    float: bottom;
    width: 85%;
    padding: 25px;
    background: #F6F4EB;
}

.row:after {
    /* min-height: 800px; */
    bottom: 0;
    content: "";
    display: table;
    clear: both;
}

.footer {
    padding: 30px;
    text-align: right;
    background: #4682A9;
    font-size: 20px;
    width: 100%;
    color: white;
}

a:link {
    color: #EEEEEE;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: #EEEEEE;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #91C8E4;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: #91C8E4;
    background-color: transparent;
    text-decoration: underline;
}